API_ENVIRONMENT = 'sandbox'
APP_KEY = 'b3G7K3Rr7TMaJiOXfeoBW97R71aN7uC9'
APP_SECRET = 'X3qaq8XnvnfFJXcm'
MPESA_SECURITY_CREDENTIAL = 'Pq5zXRgb7Fs/JA5D1vKYp6/3Ui7Sx+p9pxK2RdzI5l+o1FEsmiQWHnDnaQ8ivx4hit/KirZBXfDCAiksxtVgrODGeSAv4GIB6S7EHth1VQiexMYc2etBmvJNXrGzEg+mCySMX95URFRLwm+2Eaw45ei9CaqxIBZSNkovrLnS7pDkYZ82AAQulEpyr0HSVfZJ3u6tsNHNhwFj+pKf0bQ5xKIVzf+Ie1OwImrYWfA92gVG9va+zwNG/uZT59UJpTjS4/lPo+RTSHm35RrVpjQvfvZWlDmqK9CMNtL55i00SShpSHcuYM5sqCGzy7lbkWEh18qwcFXvXkNm/6sqhLltnQ=='
MPESA_CALLBACK_URL = 'https://13b4-197-232-61-201.ngrok-free.app'

